.header{
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;

h1{
    font-family: $raleway;
    font-size: $xxxxx-large;
    font-weight: 700;
    padding: 14px;
}
}